<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

	<meta charset="utf-8"> 
	<meta name="MobileOptimized" content="width" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Inicio</title>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="static/css/" integrity="" crossorigin="">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	
</head>

<body>
	<header>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="registro.html" th:href="@{/}">Registro</a>
					<a class="navbar-brand" href="login.html" th:href="@{/}">Login</a>
				</div>
			</div>
		</nav>
	</header>

	<div class="containers">
		<br>
		<br>
		<br>
		<h1>Welcome To CreditRisk</h1>
			
			<div class="dropdown">
				<a class="btn btn-secondary dropdown-toggle" href="adelantonomina.html" th:href="@{/adelantonomina.html}" role="button"
					id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
					Adelanto de Nomina</a>
			</div>

			<div class="dropdown">
				<a class="btn btn-secondary dropdown-toggle" th:href="@{/creditolibreinversion}" role="button"
					id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
					Credito Libre Inversion
				</a>
			</div>
			
			<div class="dropdown">
				<a class="btn btn-secondary dropdown-toggle" th:href="@{/creditovehiculo}" role="button"
					id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
					Credito De vehiculo
				</a>
			</div>
			
			<div class="dropdown">
				<a class="btn btn-secondary dropdown-toggle" th:href="@{/compracartera}" role="button"
					id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
					Credito Credito Compra de Cartera
				</a>
			</div>
			
			<div class="dropdown">
				<a class="btn btn-secondary dropdown-toggle" th:href="@{/adelantonomina}" role="button"
					id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
					Adelanto de nomina
				</a>
			</div>

			<div class="dropdown">
				<a class="btn btn-secondary dropdown-toggle" th:href="@{/adelantonomina}" role="button"
					id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
					Adelanto de nomina
				</a>
			</div>

			<div class="dropdown">
				<a class="btn btn-secondary dropdown-toggle" th:href="@{/adelantonomina}" role="button"
					id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
					Adelanto de nomina
				</a>
			</div>

			<div class="dropdown">
				<a class="btn btn-secondary dropdown-toggle" th:href="@{/adelantonomina}" role="button"
					id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
					Adelanto de nomina
				</a>
			</div>

			<div class="dropdown">
				<a class="btn btn-secondary dropdown-toggle" th:href="@{/adelantonomina}" role="button"
					id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
					Adelanto de nomina
				</a>
			</div>

			
		</div>

		<div>

		<p><strong>Credit Risk</strong> es una empresa analista de credito que busca impulsar a millones de personas en América Latina
			Creemos y apostamos en el potencial de ese segmento que representa la economía de la región y que
			hoy enfrenta muchas barreras para acceder a crédito y servicios financieros, aparte buscamos aglutinar
			requisitos de la gran mayoria de bancos y ahorrar tiempo a los clientes que se encuentran en la busqueda de
			cualquier credito.</p>
		<br>
		<p> simple, ser digital, siempre accesible</p>

		<p>Nuestro ADN. Presente en nuestro producto, nuestra cultura y nuestra visión</p>
		</div>
	</div>
		<footer>
			<div class="columns-small" >
				<div class"footer-bottom-clearfix">
					<div role="navigation" class="">
						<nav>	
							<li><a>Preguntas</a></li>
							<li><a>Terminos y condiciones</a></li>
							<li><a>Politicas de privacidad</a></li>
							<li><a>Preguntas frecuentes</a></li>
							<li><a>Siguenos</a></li>
							<li><a>Twitter</a></li>
							<li><a>Facebook</a></li>
							<li><a>Linkedin</a></li>
							<li><a>Instagram</a></li>
							<li><a>Conectate</a></li>
							<li><a>Centro de ayuda</a></li>
							<li><a>Trabaja Con nosotros</a></li>
						</nav>
					</div>
				</div>
			</div>
		</footer>
		<br>
	</div>

</body>

</html>